.playtime {
    width: 5em;
    text-align: right;
    display: inline-block;
}

.track {
    margin:1px;
}

.player {
    margin-top:20px;
}

.footer {
    margin:20px;
}

.inlined-box {
    display: inline-block;
}

.white-button {
    background-image: none !important;
    background-image: none !important;
}