@(username: String, tracks: Seq[TrackWithSpotify], availableTimespans: Seq[(String,String,Boolean)])
@import java.text.SimpleDateFormat
@import java.util.Date

@import helper._

@main(s"$username: deja entendu") {

    <script>
    $(function() {
    $ ( ".playtime-data" ).each ( function ( index, element ) {
        var date = new Date(+element.getAttribute("data-timestamp") * 1000);
        var options = {hour: "numeric", minute: "numeric"};
        element.innerText =  new Intl.DateTimeFormat(undefined, options).format(date).toLowerCase();
    } )
    })
    </script>

    <div class="container">

        <div class="col-md-4">
        </div>

        <div class="col-md-8">
            Hey @username!

                <div class="dropdown inlined-box">
                    <button type="button" class="btn btn-default dropdown-toggle white-button" data-toggle="dropdown">
                        @{availableTimespans.filter{ value => value._3 }.map { link =>
                            link._2
                        }} <b class="caret"></b>
                    </button>

                    <ul class="dropdown-menu">
                        @availableTimespans.map { link =>
                        <li><a href="/@username/@link._1">@link._2</a></li>
                        }
                    </ul>
                </div>
            ago, you listened to
        </div>
    </div>


    <div class="container">
        <div class="col-md-4">
            <iframe class="player" src="https://embed.spotify.com/?uri=spotify:trackset:Deja%20entendu:@{tracks.map{track=>track.spotifyId}.flatten.mkString(",")}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>

        <div class="col-md-8">
        @if(tracks.isEmpty) {
            <p>&nbsp;</p>
            <p>Nothing, apparently. Try selecting one of the available dates above.</p>
        }

        @if(tracks.nonEmpty) {
            @tracks.map { track =>
                <p class="track">
                    <b><span data-timestamp="@track.date" class="playtime playtime-data" /></b>
                    @track.spotifyId match {
                        case Some(spotifyId) => {
                            <a href="spotify:track:@spotifyId" class="spotifyLink">@track.artist - @track.name</a>
                        }
                        case None => {
                            <span class="nospotifyLink">@track.artist - @track.name</span>
                        }

                    }
                </p>
            }
        }


        </div>
    </div>




    @*    <h2>Add a new task</h2>

    @form(routes.Application.newTask) {

    @inputText(taskForm("label"))

    <input type="submit" value="Create">

    }*@

}